.hero {
  background-color: $VeryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 65%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 38rem;
      background-image: none;
      //background-image: url("/images/bg-intro-desktop.svg");
      //background-position: left center;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/images/image-mockups.png");
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 62%;
      }

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 85%;
        left: 37%;
      }
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        //width: 100%;
        height: 100%;
        background-image: url("/images/bg-intro-desktop.svg");
        //background-size: 93%;
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        background-size: 122%;
        background-position: 0% 83%;
      }
    }
  }

  &__text {
    text-align: center;
    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
}
